# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\big data\tp1\wordcount\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
